# find . -size +5M | cat >> .gitignore

.Rproj.user
.Rhistory
*.RData
.Ruserdata
literature/
reference/
materials/
data/
*.Rdata
*.cfg
From*/
*_cache/
*.mp4
*.flv
*.m4v
*.pdf
学生信息.xls./.git/objects/pack/pack-fb709bc6bbc2822ffb5d19ace2f14dbe8f23af05.pack
./slides/courses/analysisOfPoliticalData/images/bayesianApplication.mp4
./slides/courses/analysisOfPoliticalData/images/hulk.gif
./slides/courses/analysisOfPoliticalData/images/probability_Bbc.英国皇家科学院圣诞讲座.2019.秘密与谎言.第2集.Ricl.2019.Secret.And.Lies.2Of3.How.To.Bend.The.Rules.中英字幕.Hdtv.Aac.720P.X264-人人影视.Mp4 - Potplayer 2020-02-29 03-25-14-1'.m4v
./slides/courses/analysisOfPoliticalData/images/quiz.mp4
./slides/courses/analysisOfPublicPolicy/images/aplus.gif
./slides/courses/analysisOfPublicPolicy/images/elite_powerTalk.mp4
./slides/courses/analysisOfPublicPolicy/images/focusGroup.mp4
./slides/courses/analysisOfPublicPolicy/images/interview.mp4
./slides/courses/analysisOfPublicPolicy/images/naturalExperiment.mp4
./slides/courses/analysisOfPublicPolicy/images/sci_Charle's_Angle_ScientistScene.mp4
./slides/courses/analysisOfPublicPolicy/images/sci_Trump Watches Eclipse From White House.mp4
./slides/courses/analysisOfPublicPolicy/materials/5.ppt
./slides/courses/governmentalBigData/images/antiAsian.mp4
./slides/courses/governmentalBigData/images/queensGambit.mp4
./slides/courses/governmentalBigData/images/vis_queensGambit.mp4
./slides/guestLecture/images/footballKnee.gif
./slides/guestLecture/images/hulk.gif
./slides/mathCamp/image/function.gif
./slides/rWorkshop/images/handShadow.gif
./slides/rWorkshop/images/pc2weeks.gif
./slides/teachingDemo/image/speakChinese.gif
./slides/teachingDemo/languagePolicy_20min.html
