
.inverse h1{
  font-size:400%;
}

.inverse h2{
  font-size:300%;
}

/*Hide the page number in the title*/

.title-slide .remark-slide-number {
  display: none;
}


/*Colorful letters */

.colored {
  color: #FF0000;
}

/*Customize letter size*/

.Huge {font-style: 400%}
.huge {font-size: 300%}
.Large { font-size: 200% } 
.large { font-size: 150% }
.small { font-size: 80% }