
.inverse h1{
  font-size:300%;
}

.inverse h2{
  font-size:200%;
}

/*Hide the page number in the title*/

.title-slide .remark-slide-number {
  display: none;
}


/*Colorful letters */

.red {color: #FF0000;}

.magenta{color: #FF00FF}

.orange{color: #FF4500}

/*Customize letter size*/

.Huge {font-size: 400%}
.huge {font-size: 300%}
.Large { font-size: 200% } 
.large { font-size: 180% }
.small { font-size: 80% }


/* Two-column layout */
.left-column {
  color: #777;
  width: 50%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 50%;
  float: right;
  padding-top: 0em;
}